*{
    margin: 0;
    padding: 0;
}
.full-website{
    width: 1000px;
    margin: auto;
}
/* menu */
.menu ul{
    text-align: center;
    margin: 15px 0px;
}
.menu ul li{
    font-size: 15px;
    background-color: aqua;
    padding: 10px ; 
    display: inline-block;
    cursor: pointer; 
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: bold;
}
.menu ul li:hover{
    background-color: #fff;

}
.menu ul li a:hover{
    color: aqua;
}

.menu ul li a::before{
    content: '';
    height: 2px;
    width: 0;
    background-color:black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;  
}
.menu ul li a:hover::before{
    width: 100%;
}
/* bannar */
.bannar{
    height: 400px;
    background-color: aqua;
    text-align: center;
    position: relative;
}
.bannar-child{
    color: #fff;
    position: absolute;
    top: 120px;
    text-align: center;
    left: 244px;
}
.bannar b{
    font-size: 65px;
    position: relative;
    top: 15px;
}
.bannar-child button{
    cursor: pointer;
    position: relative;
    top: 40px;
    font-size: 40px;
    background-color: #fff;
    color: #ddd;
    padding: 10px;
    border-radius: 10px;
    border: none;
    z-index: 1;
   
}
.bannar-child button::before{
    content: '';
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: red;
    border-radius: 10px;
    transition: .4s;
    z-index: -1;
}
.bannar-child button:hover::before{
    width: 100%;
}
/* image-bannar */
.title{
    margin-bottom: 80px;
}
.image-bannar{
    text-align: center;
    margin: 80px 0px ;
}

.wrapper-div{
    text-align: center;
    margin-top: 14px;

}
.mainbox{
    width: 180px;
    display: inline-block;
    margin: 5px 10px;
    transition: .5s;
    cursor: pointer;
}
img{
    max-width: 100%;
    transition: .5s;
}
.box1:hover{
    transform: rotate(360deg) ;
}
.box2:hover{
    transform: rotate(60deg) ;
}
.box3:hover{
    transform: skew(12deg, 45deg) ;
}
.box4:hover{
    transform:  rotate(-80deg) ;
}
.box5:hover{
    transform: scale(1.5)  ;
}
.box6:hover{
    transform: scale(1.5) rotate(360deg) ;
}
.box7:hover{
    transform: scale(-.1);
}
.box8:hover{
    transform: scale(1.2) ;
}

/* wrapper-bannar */
.video-bannar{
    height: 236px;
    text-align: center;
    margin: 50px 0px;
}
.heading-3 h1{
    margin: 20px 0px;
}
.heading-3 p{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.wrapper{
    height: 100px;
    margin-top: 80px;
    position: relative;
}
.wrp{
    width: 100px;
    background-color: black;
    color: #fff;
    display: inline-block;
    line-height: 70px;
}
.div1{
    position: absolute;
    left: 80px;
    transform: rotate(-50deg);
    transition: .5s;
}
.div1:hover{
    transform: rotate(0deg);
    background-color: aqua;
}
.div2{
 transition: .5s;
}
.div2:hover{
    transform: scale(1.2);
    background-color: aqua;
}
.div3{
    position: absolute;
    right: 80px;
    transform: rotate(56deg);
    transition: .5s;
}
.div3:hover{
    transform: rotate(0deg);
    background-color: aqua;
}

footer{
    text-align: center;
    padding: 25px 0px;
    background-color: #2d3436;
    color: #fff;
}